.Hero-section .Hero-info h1 {
  color: #ffffff;
  font-family: Kufam;
  font-weight: 500;
  font-style: Medium;
  font-size: 56px;
  line-height: 65px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.Hero-section .Hero-subtitle {
  color: #ffffff;
  font-family: Kufam;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 30%;
  text-transform: uppercase;
}

.Hero-section .Hero-content {
  color: #ffffff;
  font-family: Kufam;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0%;

}

.Hero-section .Hero-info a.main-btn {
  width: auto;
  background-color: #FFA600;
  border-radius: 0;
  color: #ffffff;
  font-family: var(--font-lexend), sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  padding: 20px 45px;
  transition: all 0.3s ease;
}

.Hero-section .Hero-info a.main-btn:hover {
  letter-spacing: 3px;
}

.Hero-section .Hero-info a.outline-btn {
  font-family: var(--font-lexend), sans-serif;
  padding: 20px 35px;
  border: 1px #FFA6001A solid;
  color: #F9A14B;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
  background: #22333a;
  transition: all 0.3s ease;
  text-align: center;
}

.Hero-section .Hero-info a.outline-btn:hover {
  letter-spacing: 3px;
}

.about-section .subtitle {
  color: #FFA600;
  font-family: kufam;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;

}

.about-section .desc {
  font-family: Kufam;
  color: #545454;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

/* service section */

.service-section {
  background-color: #f1f1f194;
}
.service-section p.service-desc {
  font-family: Kufam;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #545454;
}

.service-section .subtitle {
  color: #FFA600;
  font-family: kufam;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
}

.service-section .cards h5.card-title {
  font-family: Kufam;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.service-section .cards p.card-desc {
  font-family: Kufam;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: #DCDCDC;
}

.service-section .main-btn {
  width: auto;
  font-family: var(--font-lexend), sans-serif;
  text-transform: uppercase;
  /* background-color: #ffa600; */
  border-radius: 0;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 22px;
  transition: all 0.3s ease;
}

.service-section .main-btn:hover {
  letter-spacing: 3px;
  color: #FFA600 !important;
}

.service-section .card-img,
.card-img-top {
  border-radius: 0px;
}

.service-section .service-card {
  height: 545px;
}

/* platform */

.platforms-section .subtitle {
  color: #FFA600;
  font-family: kufam;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
}

.platforms-section .platform-img {
  height: 288px;
  width: 100%;
}

.platforms-section .pf-desc {
  font-family: Kufam;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.platforms-section .logo-img {
  width: 130px;
  height: 40px;
  object-fit: contain;
  display: block;
}

.platforms-section .pf-logos {
  padding-bottom: 40px;
}

/* industries */

.industry-card {
  position: relative;
  height: 600px;
  overflow: hidden;
  cursor: pointer;

}

.industry-card img {
  transition: transform 0.5s ease;
  display: block;
  width: 100%;

}

.industry-card:hover img {
  transform: scale(1.1);
  flex: 2;
  border: none;
  outline: 0;
  box-shadow: none;
}

.industry-card .content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: #fff;
  z-index: 2;
}

.industry-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
  color: #fff;
  transition: all 0.3s ease;
  z-index: 2;
}

.industry-overlay h5 {
  font-weight: bold;
  margin-bottom: 10px;
  font-family: Kufam;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;

}

.industry-overlay p {
  font-size: 14px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  font-family: Kufam;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}

.industry-card:hover .industry-overlay p {
  opacity: 1;
  max-height: 200px;
}


/* success stories */
.success-stories .story-card {
  position: relative;
  overflow: hidden;
}

.success-stories .story-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.success-stories .story-card:hover img {
  transform: scale(1.1);
}


.success-stories .story-card .overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  transition: background 0.5s ease;
}

.success-stories .story-card .overlay:hover {
  backdrop-filter: blur(3px);
  color: #fff;
}

.success-stories .story-card .overlay h3 {
  color: #fff;
  font-weight: bold;
  margin: 0;
  font-size: 16px;
  transform: translateY(0);
  transition: transform 0.4s ease;
}


.success-stories .story-card .overlay p {
  font-size: 14px;
  line-height: 20px;
  margin: 8px 0 0;
  opacity: 0;
  transform: translateY(15px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}


.success-stories .story-card:hover .overlay h3 {
  transform: translateY(-10px);
}

.success-stories .story-card:hover .overlay p {
  opacity: 1;
  transform: translateY(0);
  color: #fff;
}

.success-stories .container-fluid {
  padding: 0;
}

/* Logo Slider Section */
.logo-slider {
  overflow: hidden;
  width: 100%;
  background: #fff;
  padding: 30px 0;
  position: relative;
}

.logo-track {
  display: flex;
  /* width: calc(200px * 10); */
  /* animation: scroll 5s linear infinite; */
}

.logo-item {
  flex: 0 0 auto;
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.logo-item img {
  max-width: 100%;
  max-height: 60px;
  object-fit: contain;
  /* filter: grayscale(100%);  */
  transition: filter 0.3s ease;
}

.logo-item img:hover {
  filter: grayscale(0%);
}

/* Animation */
/* @keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
} */

.logo-track {
  -webkit-animation: marquee 5s linear infinite running;
  -moz-animation: marquee 5s linear infinite running;
  -o-animation: marquee 5s linear infinite running;
  -ms-animation: marquee 5s linear infinite running;
  animation: marquee 5s linear infinite running;
}

@keyframes marquee {
  from {
    transform: translateX(0)
  }

  to {
    transform: translateX(-50%)
  }
}

@-moz-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
  }

  100% {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%)
  }
}

@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
  }

  100% {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%)
  }
}

@-o-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
  }

  100% {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%)
  }
}

@keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0)
  }

  100% {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%)
  }
}




/* media query for mobile devices */

@media (max-width: 768px) {
.Hero-section .Hero-info h1 {
font-size: 35px;
line-height: 45px;
}

.Hero-section .Hero-content {
  font-size: 15px;
    line-height: 25px;
}

}